@* <h3>AccountLayout</h3>

@code {

} *@

@inherits LayoutComponentBase

<div class="d-flex align-items-center justify-content-center vh-100 bg-light">
    <div class="w-100">
        @* Login.razor's noi dung' *@
        @Body
    </div>
</div> 