

@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid p-0">
        <a class="navbar-brand d-flex align-items-center m-0" href="">
            @* LOGO: Đã đổi thành rounded-circle để bo tròn *@
            <img src="/image/D.png"
                 alt="Logo"
                 style="width: 45px; height: 45px; object-fit: cover;"
                 class="me-2 bg-white rounded-circle p-1 shadow-sm" />

            @* TIÊU ĐỀ *@
            <span style="font-size: 1.0rem; line-height: 1.2; white-space: normal; font-weight: bold; text-align: left;">
                HỆ THỐNG QUẢN LÝ<br />THIẾT BỊ MẠNG
            </span>
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        @* Home *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill"></span> Home
            </NavLink>
        </div>

     @* thiết bị *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="devices">
                <span class="bi bi-hdd-network"></span> Thiết bị
            </NavLink>
        </div>

        @* cấu hình mạng *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="network-config">
                <span class="bi bi-hdd-network"></span> Cấu hình mạng
            </NavLink>
        </div>

        @*Chỉ Admin mới thấy mục Nhật ký *@
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="logs">
                        <span class="bi bi-list-ul"></span> Nhật ký
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        @* quan ly account *@
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <span class="bi bi-people-fill"></span> Quản lý nhân sự
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        @*cau hinh vlans*@
        <AuthorizeView Roles="Admin,Technician">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="vlans">
                        <i class="bi bi-diagram-3 me-2"></i> Quản lý VLAN/Subnet
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin,Technician">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="servers">
                        <span class="bi bi-server-stack-nav-menu" aria-hidden="true"></span> Quản lý Máy chủ
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        @* lich truc *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="schedules">
                <span class="bi bi-calendar-week-fill" aria-hidden="true"></span> Lịch trực ca
            </NavLink>
        </div>

        @*Van ban truc*@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="handover">
                <span class="bi bi-journal-text" aria-hidden="true"></span> Bàn giao ca
            </NavLink>
        </div>

        @* thay doi mat khau cho user *@
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="change-password">
                        <span class="bi bi-key-fill" aria-hidden="true"></span> Đổi mật khẩu
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>


    </nav>
</div>  